.Box2 {
    // background-color: brown;
    width: 40vw;
    height: 950px;
    display: inline-block;
    float: right;

    .Button1 {
        background-color: gray;
        color: white;
        margin-top: 10px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 8px;
    }
    .heading {
        list-style: inside decimal;

        padding-top: 12px;
        font-size: 13px;
        font-weight: bold;
    }

    .Content {
        display: inline-block;
        list-style: none;
        padding-top: 5px;
        padding-left: 18px;
        font-size: 12px;
    }
    .dess {
        display: inline-block;
    }
    .ch {
        padding-top: 15px;
        font-size: 13px;
    }
    .cc {
        color: gray;
        font-size: 11px;
    }
    .le {
        display: inline-block;
        padding-top: 15px;
        .lc {
            color: rgb(82, 82, 82);
            font-size: 10px;
        }
    }
    .lh {
        padding-left: 50px;
        display: inline-block;
        .lc {
            color: rgb(82, 82, 82);
            font-size: 10px;
        }
    }
    .skills {
        // background-color: aquamarine;
        display: inline-block;
        border: solid rgb(155, 155, 155);
        border-radius: 10px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 5px;
    }
}
