@import "Box1";
@import "Box2";
@import "Box3";
@media screen and (max-width: 1000px) {
    .Box1 {
        display: inline-block;
        .Box1a {
            width: 30vw;
            display: grid;
            float: left;
            clear: left;
        }

        .Box1b {
            width: 30vw;
            display: grid;
            place-items: center;
            float: right;
        }
        .Box1c {
            
            padding-top: 50px;
            width: 70vw;
            float: left;
            .List {
                list-style: none;
                direction: ltr;
            }
            li {
                display: inline-block;
                border: solid rgb(123, 121, 121);
                border-radius: 10px;
                padding-bottom: 8px;
                padding-inline-end: 8px;
                margin: 5px;
            }
        }
    }
    .Box3 {
        width: 80vw;
        display: inline-block;

        .Box3a {
            width: 80vw;
            display: inline-block;
        }
    }
    .Box2 {
        width: 80vw;
        padding: 0px;
        display: inline-block;
        float: left;
        clear: left;
    }
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(233, 232, 232);
    display: grid;
    place-items: center;
    font-family: "Roboto", sans-serif;
}
.mh {
    text-decoration: underline overline rgb(78, 78, 78);
    font-size: 20px;
    font-weight: bold;
    padding-top: 40px;
}
.Box {
    margin-top: 10px;
    padding: 25px;
    height: vh;
    width: 80vw;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    box-shadow: slategray 0px 0px 15px;
}
