.Box3 {
    // background-color: blue;
    height: 950px;
    width: 40vw;
    
    float: left;
    clear: left;

    .eb {
        margin-top: 20px;
        font-size: 18px;
    }

    .Box3a {
        
        width: 35vw;
        height: 950px;
    }
    .in {
        font-size: 16px;
        padding-bottom: 5px;
    }
    .time{
        display: inline-block;
        color: gray;
        font-size: 14px;
        
    }
    .marks{
        display: inline-block;
        color: gray;
        font-size: 14px;
        float: right;
    }
    .details{
        color: gray;
        font-size: 13px;
    }
    .at{
        font-size: 14px;
    }
    .oi{
        padding-top: 20px;
        font-size: 14px;
    }

}
